JWT_SECRET=2c83c855-d068-4b90-bacd-59bfb60f5f71

AUTH_REDIRECT_URL=http://localhost:8000/api/v1/auth

CLIENT_ID_GITHUB=468bd725f9018e1d6486
CLIENT_SECRETS_GITHUB=a2ad65038e415b66b5a07170080b264e1b85fc80


CLIENT_ID_GOOGLE=363844529272-bfld8j04iccjos3jmn6iva15ooap3mdo.apps.googleusercontent.com
CLIENT_SECRETS_GOOGLE=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